@include placeholder("input", color( primary, dark ), 900, 1.5rem);
@include placeholder("textarea", color( primary, dark ), 900, 1.5rem);

.form-section {
    .form {
        background: color(grayscale, white);
        margin: 202px 12px 0 12px;
        min-height: 205.0rem;
        padding: 30px 0 0 0;
        text-align: center;
        h2 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.1rem;
            margin: 0 34px 30px 34px;
            text-align: center;
        }
        iframe {
            max-height: 195.0rem;
        }
    }
}

@include mq-min(md) {
    .form-section {
        .form {
            margin: 147px 12px 0 12px;
            min-height: 0;
            iframe {
                min-width: 70.0rem;
                max-height: 150.0rem;
            }
        }
    }
}

@include mq-min(lg){
    .form-section {
        position: relative;
        .form {
            margin: inherit;
            padding: 10px 21px 10px 21px;
            position: absolute;
            max-width: 36.1rem;
            min-height: 56.0rem;
            right: -30px;
            top: -310px;
            h2 {
                font-size: 2.0rem;
                font-weight: 700;
                margin: 30px 0;
                padding: 0;
                text-align: center;
            }
            iframe {
                min-width: 33.5rem;
                max-height: 230.0rem;
            }
        }
    }
}

@include mq-min(xx){
    .form-section {
        position: relative;
        .form {
            margin: inherit;
            padding: 10px 21px 10px 21px;
            position: absolute;
            max-width: 66.1rem;
            min-height: 158.2rem;
            right: -120px;
            top: -400px;
            h2 {
                font-size: 2.0rem;
                font-weight: 700;
                padding: 0 50px 0 64px;
                margin: 16px 0;
                text-align: center;
            }
            iframe {
                max-height: 150.5rem;
                min-width: 62.0rem;
            }
        }
    }
}

@include mq-min(xl){
    .form-section {
        position: relative;
        .form {
            margin: inherit;
            padding: 10px 21px 10px 21px;
            position: absolute;
            max-width: 66.1rem;
            min-height: 158.2rem;
            right: 25px;
            top: -410px;
            h2 {
                font-size: 2.0rem;
                font-weight: 700;
                padding: 0 50px 0 64px;
                margin: 16px 0;
                text-align: center;
            }
            iframe {
                max-height: 150.5rem;
                min-width: 62.0rem;
            }
        }
    }
}
