@include placeholder("input", color( primary, dark ), 900, 1.5rem);
@include placeholder("textarea", color( primary, dark ), 900, 1.5rem);

.form-section {
    .form {
        background: color(grayscale, white);
        margin: 158px 12px 0 12px;
        padding: 30px 34px 30px 34px;
        h2 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 21px;
            text-align: center;
        }
    }
}

@include mq-min(md) {
    .form-section {
        .form {
            margin: 147px 12px 0 12px;
        }
    }
}

@include mq-min(lg){
    .form-section {
        position: relative;
        .form {
            margin: inherit;
            padding: 10px 21px 10px 21px;
            position: absolute;
            max-width: 361px;
            max-height: 930px;
            right: -30px;
            top: -690px;
            h2 {
                font-size: 2.0rem;
                font-weight: 700;
                padding: 0 50px 0 64px;
                text-align: center;
            }
        }
    }
}

@include mq-min(xl){
    .form-section {
        position: relative;
        .form {
            margin: inherit;
            padding: 10px 21px 10px 21px;
            position: absolute;
            max-width: 661px;
            max-height: 930px;
            right: 40px;
            top: -690px;
            h2 {
                font-size: 2.0rem;
                font-weight: 700;
                padding: 0 50px 0 64px;
                text-align: center;
            }
        }
    }
}
